<ion-header no-border>
	<ion-navbar transparent>
		<ion-title>CAMBIAR CONTRASEÑA</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

		<ion-grid text-center>

			<ion-row justify-content-center>
				<ion-col align-self-center>

					<ion-list>

						<ion-item>
							<ion-label floating>Contraseña Actual</ion-label>
							<ion-input class="no-transform" type="{{ oldPassType }}" formControlName="oldPassword">
							</ion-input>
							<button *ngIf="!showOldPass" ion-button icon-only clear color="dark" type="button" item-end
								(click)="showOldPassword()">
								<ion-icon name="ios-eye-off-outline"></ion-icon>
							</button>
							<button *ngIf="showOldPass" ion-button icon-only clear color="dark" type="button" item-end
								(click)="showOldPassword()">
								<ion-icon name="ios-eye-outline"></ion-icon>
							</button>
						</ion-item>

						<ion-item>
							<ion-label floating>Nueva Contraseña</ion-label>
							<ion-input class="no-transform" type="{{ newPassType }}" formControlName="newPassword">
							</ion-input>
							<button *ngIf="!showNewPass" ion-button icon-only clear color="dark" type="button" item-end
								(click)="showNewPassword()">
								<ion-icon name="ios-eye-off-outline"></ion-icon>
							</button>
							<button *ngIf="showNewPass" ion-button icon-only clear color="dark" type="button" item-end
								(click)="showNewPassword()">
								<ion-icon name="ios-eye-outline"></ion-icon>
							</button>
						</ion-item>

						<ion-item>
							<ion-label floating>Vuelva a introducir la contraseña</ion-label>
							<ion-input type="password" formControlName="conPassword"></ion-input>

							<div
								*ngIf="passwordForm.get('conPassword').hasError('equalTo') && passwordForm.get('conPassword').touched">
								<p ion-text color="red"><small>Las contraseñas no coinciden</small></p>
							</div>
						</ion-item>

						<ion-item
							*ngIf="!passwordForm.get('newPassword').valid && passwordForm.get('newPassword').touched">
							<p text-wrap>La contraseña debe ser de al menos 5 digitos y contener una mayúscula, una
								minúscula y un número</p>
						</ion-item>

						<!-- BUG: This is needed -->
						<p></p>

					</ion-list>

				</ion-col>
			</ion-row>

			<ion-row justify-content-center>
				<ion-col align-self-center>
					<button ion-button block color="primary" type="submit"
						[disabled]="!passwordForm.valid">ACTUALIZAR</button>
				</ion-col>
			</ion-row>

		</ion-grid>

	</form>

</ion-content>