<ion-content no-padding no-margin>

  <div text-center class="main-header">
    <div>
      <button ion-button clear icon-only color="ligth" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
			<h4 ion-text no-margin color="light">
				<small>{{ movement.user.username }}</small><br/>
				{{ movement.amount | currency:currencySymbol:'code':'1.2-2':'es' }}
			</h4>
      <button ion-button icon-only clear color="light" class="hidden">
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>
  </div>

  <ion-grid text-center>

    <ion-row align-items-center>
      <ion-col>

      <ion-list>

        <ion-item>
          <p>Fecha de la transacción:</p>
          <p ion-text color="secondary">{{ movement.date }}</p>
        </ion-item>

        <ion-item>
          <p>Referencia:</p>
          <p ion-text color="secondary">{{ movement.reference }}</p>
        </ion-item>

        <ion-item>
          <p>Beneficiario:</p>
          <p ion-text text-wrap text-capitalize color="secondary">{{ movement.user.name }} ({{ movement.user.document }})</p>
        </ion-item>

        <ion-item>
          <p ion-text color="secondary">Monto: {{ movement.amount | currency:currencySymbol:'code':'1.2-2':'es' }}</p>
          <p ion-text color="secondary">Porcentaje: {{ movement.percentage }}</p>
          <p ion-text text-wrap color="secondary">Monto después de la transacción: {{ movement.totalAmount | currency:currencySymbol:'code':'1.2-2':'es' }}</p>
        </ion-item>

        <ion-item>
          <p>Concepto:</p>
          <p ion-text text-wrap color="secondary">{{ movement.concept }}</p>
        </ion-item>

        <ion-item *ngIf="movement.type != 'IN'">
          <p>Ubicación:</p>
          <p ion-text color="secondary">{{ movement.location }}</p>
        </ion-item>

      </ion-list>

      </ion-col>
    </ion-row>

    <ion-row justify-content-center *ngIf="appInstalled">
      <ion-col align-self-center>
        <button ion-button block color="primary" (click)="viewLocation()">VER EN MAPA</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
