// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
  ion-navbar {
    //height: 16rem;
    //min-height: 12rem !important;
    height: 12rem !important;
    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      // padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: -1;
    }
  }
  .toolbar-title {
     text-overflow: unset;
     white-space: unset;
  }
}

ion-content {
  .scroll-content {
    .main-header {
      min-height: 12rem !important;
      background: linear-gradient(to right, #09d1bd 0%,#09c5c6 27%,#09bccd 48%,#09b5d4 100%);
      border-radius: 0 0 550px 550px / 0 0 120px 120px; //0% 0% 60% 60% / 0% 0% 25% 25%;
      @media screen and (min-width: 720px) {
        border-radius: 0 0 980px 980px / 0 0 120px 120px;
      }
      @media screen and (min-width: 1200px) {
        border-radius: 0 0 1930px 1930px / 0 0 120px 120px;
      }
      //padding-bottom: 160px;
      >div:not(.swap-button-hide) {
        //position: absolute;
        //width: 100%;
        //top: 0;
        text-align: center;
        display: table;
        button.button-menutoggle {
          //position: absolute;
          //left: 0;
          //top: 2rem; //30px;
          margin: 0;
          //z-index: 9;
          vertical-align: middle;
          height: 12rem;
        }
        .button-clear, p, h4 {
          height: 12rem; //75px;
          color: color($colors, light, base);
        }
        p, h4 {
          //position: absolute;
          //width: 100%;
          display:table-cell;
          vertical-align: middle;
          width: 100%;
        }
        /* p {
          line-height: 12rem;
        }
        h4 {
          line-height: 8rem; //75px;
        } */
      }
    }
  }
}

ion-menu {
  [submenu] {
    display: block;
    padding-left: 25px;
    overflow: hidden;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .1s linear, max-height 0s .1s linear;
    &.visible {
      max-height: 9999px;
      transform: scaleY(1);
      transition: transform .1s linear, max-height 0s linear;
    }
  }  
  .menu-inner {
    .main-header {
      padding: 25px 0;
      min-height: 0 !important;
      &.no-radius {
        border-radius: 0;
      }
      ion-list {
        ion-item {
          margin: 16px 0;
        }
      }
      >div.swap-button-show {
        position: absolute;
        right: 0;
        top: inherit;
        button {
          top: -16px;
          padding: 18px 7px;
          position: relative;
          background: linear-gradient(to right, #09d1bd 0%,#09c5c6 27%,#09bccd 48%,#09b5d4 100%);
          &.loading {
            animation: spin 4s linear infinite;
          }
        }
        ion-icon {
          padding: 0 0.3em;
          font-size: 1.5em;
        }
      }
    }
    ion-content {
      .scroll-content {
        overflow-y: auto;
      }
    }
    ion-avatar {
      width: 100%;
      height: 100%;
      max-width: 12rem;
      max-height: 12rem;
      margin: 0 !important;
      img {
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
      }
    }
    .content {
      background: none;
      ion-list button.item {
        color: color($colors, gray, base);
        .button-effect {
          display: none;
        }
      }
    }
    .item, .toolbar-background {
      background: none;
    }
    .toolbar-title {
      color: white;
      font-size: 0.7em;
    }
  }
}

i.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.hidden {
  visibility: hidden;
}

.text-input[disabled] {
  color: #8c8c8c;
}

.ios .menu-inner,
.wp .menu-inner,
.md .menu-inner {
  background-color: color($colors, light, base);
}

.header-ios::after, 
.header-wp::after,
.header-md::after {
  content: none;
}

ion-navbar.toolbar-ios,
ion-navbar.toolbar-md,
ion-navbar.toolbar-wp {
  border-radius: 0 0 550px 550px / 0 0 120px 120px; //0% 0% 60% 60% / 0% 0% 25% 25%;
}

.toolbar-title-ios {
  margin-top: 25px !important;
}

.content-ios-primary,
.toolbar-ios-primary .toolbar-background-ios,

.content-wp-primary,
.toolbar-wp-primary .toolbar-background-wp,

.content-md-primary,
.toolbar-md-primary .toolbar-background-md {
  background: linear-gradient(to right, #09d1bd 0%,#09c5c6 27%,#09bccd 48%,#09b5d4 100%);
}

.toolbar-title toolbar-title-ios,
.toolbar-title toolbar-title-wp,
.toolbar-title toolbar-title-md {
  font-weight: normal;
}

.swiper-pagination-bullet-active {
  background: color($colors, dark, base);
}

.radio-ios .radio-inner,
.alert-ios .alert-radio-inner,

.radio-wp .radio-inner,
.alert-wp .alert-radio-inner,

.radio-md .radio-inner,
.alert-md .alert-radio-inner {
  background: color($colors, turquoise, base);
}

.list-ios .item-input.item-input-has-focus:last-child, .list-ios .item-input.input-has-focus:last-child,
.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner,

.list-wp .item-input.item-input-has-focus:last-child, .list-wp .item-input.input-has-focus:last-child,
.item-wp.item-input.item-input-has-focus .item-inner, .item-wp.item-input.input-has-focus .item-inner,

.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child,
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: color($colors, turquoise, base);
  box-shadow: inset 0 -1px 0 0 color($colors, turquoise, base);
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.action-sheet-ios .action-sheet-selected,
.picker-ios .picker-button, .picker-ios .picker-button.activated,
.picker-ios .picker-prefix, .picker-ios .picker-suffix, .picker-ios .picker-opt.picker-opt-selected,
.item-radio-checked.item-ios ion-label,
.item-input-has-focus .label-ios[stacked],
.item-input-has-focus .label-ios[floating],
.input-has-focus .label-ios[stacked],
.input-has-focus .label-ios[floating],
.alert-ios [aria-checked="true"] .alert-radio-label,
.alert-ios .alert-button,

.action-sheet-wp .action-sheet-selected,
.picker-wp .picker-button, .picker-wp .picker-button.activated,
.picker-wp .picker-prefix, .picker-wp .picker-suffix, .picker-wp .picker-opt.picker-opt-selected,
.item-radio-checked.item-wp ion-label,
.item-input-has-focus .label-wp[stacked],
.item-input-has-focus .label-wp[floating],
.input-has-focus .label-wp[stacked],
.input-has-focus .label-wp[floating],
.alert-wp [aria-checked="true"] .alert-radio-label,
.alert-wp .alert-button,

.action-sheet-md .action-sheet-selected,
.picker-md .picker-button, .picker-md .picker-button.activated,
.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected,
.item-radio-checked.item-md ion-label,
.item-input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[stacked],
.input-has-focus .label-md[floating],
.alert-md [aria-checked="true"] .alert-radio-label,
.alert-md .alert-button {
  color: color($colors, turquoise, base);
}

.item-ios, .item-md, .item-wp {
  padding-right: 16px;
}

.radio-ios .radio-checked,
.alert-ios [aria-checked="true"] .alert-radio-icon,

.radio-wp .radio-checked,
.alert-wp [aria-checked="true"] .alert-radio-icon,

.radio-md .radio-checked,
.alert-md [aria-checked="true"] .alert-radio-icon {
  border-color: color($colors, turquoise, base);
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,

.item-wp.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-wp.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: color($colors, gray-light, base);
  -webkit-box-shadow: none;
  box-shadow: none;
}

ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,

wp ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
wp ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,

md ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content
md ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content {
  padding: 0 !important;
}

.back-button-icon-ios,
.back-button-icon-wp,
.back-button-icon-md {
  font-size: 1.4rem;
}

.bar-button-ios,
.bar-button-wp,
.bar-button-md {
  font-size: 1rem;
}

textarea,
input[type=tel],
ion-input:not(.no-transform) > input[type=text],
input[type=email],
input[type=search],
input[type=button],
input[type=checkbox] {
  text-transform: uppercase;
}